* {
  box-sizing: border-box; }

body {
  background-image: url(../img/black_mamba.jpg); }

a {
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease; }
  a:hover {
    background-color: #f63249; }
  a:active {
    background-color: #d20921; }

input {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  background: bottom left linear-gradient(#a7a7a7, #a7a7a7) no-repeat, bottom center linear-gradient(#a7a7a7, #a7a7a7) repeat-x, bottom right linear-gradient(#a7a7a7, #a7a7a7) no-repeat;
  background-size: 1px 6px, 1px 1px, 1px 6px;
  border: 0;
  outline: 0;
  display: block;
  transition: background;
  transition-duration: 300ms;
  transition-timing-function: ease; }
  input:focus {
    background: bottom left linear-gradient(#f63249, #f63249) no-repeat, bottom center linear-gradient(#f63249, #f63249) repeat-x, bottom right linear-gradient(#f63249, #f63249) no-repeat;
    background-size: 1px 6px, 1px 1px, 1px 6px; }

textarea {
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #a7a7a7;
  outline: 0; }
  textarea:focus {
    border-color: #f63249; }

.app-container.is-editing .deck-editor-wrapper {
  left: 0; }
.app-container.is-editing .deck-wrapper {
  width: 50%;
  font-size: 0.67rem;
  transform: translate(0, -50%); }

.deck-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  transition: width, left, font-size, transform;
  transition-duration: 300ms;
  transition-timing-function: ease; }
  .deck-wrapper::before {
    content: "";
    width: 100%;
    padding-top: 56.25%;
    display: block; }
  .deck-wrapper.deck-editor-wrapper {
    width: 0%; }
    .deck-wrapper.deck-editor-wrapper .deck-tools > .sub-controls {
      float: left; }

.deck-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0 solid rgba(0, 0, 0, 0.5);
  border-bottom-width: 1px; }

.deck-header-title {
  float: left; }

.deck-header-author {
  float: right; }

.deck-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 16px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: border-color;
  transition-duration: 300ms;
  transition-timing-function: ease; }
  .deck-border.is-focused {
    border-color: rgba(246, 50, 73, 0.5); }

.deck {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 32px;
  background-color: white; }

.slide-extra-info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
  text-align: center; }

.slide-title {
  float: left; }

.slide-position {
  float: right; }

.text-area-wrapper {
  position: absolute;
  top: 80px;
  right: 32px;
  bottom: 32px;
  left: 32px; }

.deck-tools {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transform: translate(0, 100%); }
  .deck-tools > .sub-controls {
    float: right; }
    .deck-tools > .sub-controls > .sub-control:first-child {
      margin-left: 16px; }
    .deck-tools > .sub-controls > .sub-control:last-child {
      margin-right: 16px; }

.sub-controls-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0); }

.sub-controls {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none; }

.sub-control {
  float: left;
  margin: 0 8px; }

/*# sourceMappingURL=main.css.map */
